*{padding: 0px;
    margin: 0px;}



/*---INICIO "HEADER"---*/

/*...HOLA PROFE, NO PUEDO CENTRAR LAS PALABRAS DEL MENU SIN CENTRAR TAMBIEN EL LOGO, EN CLASES PLANTEO LA DUDA :) ---*/

    .header 
        {color: #227D54;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 2rem; 
        background-size:auto;
        text-align: center; 
        background-repeat:no-repeat; 
        background-size: cover;
        display: flex;
        align-items: center;
        background-color: #A9A9A9;
        justify-items: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(90deg, rgba(207,204,255,1) 0%, rgba(114,80,204,1) 35%, rgba(0,212,255,1) 100%);
        }

    .logo
        {width: 3rem;
        height: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        }

    .header__lista li 
        {list-style: none; 
        display: inline-block; 
        font-family:'Roboto Mono', monospace; 
        font-weight: bold;
        text-align: center;
        align-content: center;
        margin: 1rem;
        border-left: 0.2rem solid #DCDCDC;
        border-right: 0.2rem solid #DCDCDC;
        text-align: center;
        }
    .header__lista a
        {text-decoration: none;
        color: black;
        align-content: center;
        text-align: center;}

    .header img {transform: scale(2,2)}
    .header a {transition: background-color .3s;}
    .header a:hover {color: #464E51;}

/*---FIN "HEADER"---*/



/*---INICIO TIENDA---*/
.productosTienda {
    display: flex;
    align-items: center;
    justify-content: center;
}



.producto {
    padding: 2rem;
    margin: 2rem;
    align-content: center;
    text-align: center;
    border-style: solid;
}

.producto a {
    text-decoration: none;
    color: black;
    align-content: center;
    text-align: center;}


/*---FIN TIENDA---*/


/*---INICIO "SOBRE NUESTROS PRODUCTOS"---*/
#sobreNuestrosProductos div{
    display: flex;
    flex: 1;
    margin-top: 20px; 
    align-items: center;
    justify-content: center;}

#sobreNuestrosProductos div img {
    height: 15rem;
    padding: 3rem;
}
/*---FIN "SOBRE NUESTROS PRODUCTOS"---*/


/*---INICIO "SOBRE NOSOTROS"---*/
#sobreNosotros div{
    display: flex;
    flex: 1;
    margin-top: 20px; 
    align-items: center;
    justify-content: center;}

#sobreNosotros div img {
    height: 15rem;
    padding: 3rem;}
/*---FIN "SOBRE NOSOTROS"---*/

 
/*---INICIO FOOTER---*/

/*---FIN FOOTER---*/


/*---PARA TODAS LAS SECCIONES---*/
.padding {padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 2rem;}
h2 {font-family: 'Roboto Mono', monospace; text-align: center; font-size:xx-large; line-height: 5rem; color: #495464;}
section{background-color:  #E8E8E8;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 5rem;
        margin-bottom: 5rem;}
body{
    background-color:#BBBBBE;
}
