/*---INICIO "HEADER"---*/
.header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 2rem;
  background-size: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #151515;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__div__logo {
  width: 2rem;
  height: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header__lista li {
  list-style: none;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1rem;
  border-left: 0.2rem solid #dcdcdc;
  border-right: 0.2rem solid #dcdcdc;
  text-align: center;
}

.header__lista a {
  text-decoration: none;
  color: #9b6698;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.header img {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}

.header a {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.menu__item__animacion:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__item__animacion {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

/*---FIN "HEADER"---*/
/*---INICIO TIENDA---*/
.tienda__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  background-color: #265496;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 20px;
}

.tienda__producto {
  padding: 2rem;
  margin: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
}

.tienda__producto a {
  text-decoration: none;
  color: black;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.tienda__producto a:hover {
  color: #265496;
}

.menu__item__animacion:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__item__animacion {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

/*---INICIO "SOBRE NUESTROS PRODUCTOS"---*/
#sobreNuestrosProductos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  background-color: #265496;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 20px;
}

.div__p {
  font-family: "Roboto Mono", monospace;
  font-size: large;
  color: white;
}

#sobreNuestrosProductos div img {
  height: 15rem;
  padding: 3rem;
}

/*---FIN "SOBRE NUESTROS PRODUCTOS"---*/
/*---INICIO "SOBRE NOSOTROS"---*/
#sobreNosotros div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  background-color: #265496;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 20px;
}

#sobreNosotros div img {
  height: 15rem;
  padding: 3rem;
}

/*---FIN "SOBRE NOSOTROS"---*/
section {
  background-color: #265496;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 20px;
}

footer form {
  text-align: center;
}

footer form input {
  border-radius: 20px;
  padding: 1rem;
  border: solid 1px;
}

footer form textarea {
  border-radius: 20px;
  border: solid 1px;
}

footer form select {
  border-radius: 20px;
  padding: 1rem;
  border: solid 1px;
}

/*---PARA TODAS LAS SECCIONES---*/
* {
  padding: 0px;
  margin: 0px;
}

.padding {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

h2 {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: xx-large;
  line-height: 5rem;
  color: #e7e8e9;
  font-weight: bolder;
}

h1 {
  display: none;
}

body {
  background-color: #222222;
  font-family: font-family "Roboto Mono", monospace;
}

@media (max-width: 600px) {
  body {
    background-color: #222222;
    padding: 0rem;
    margin: 0rem;
  }
  #sobreNosotros div {
    display: block;
    padding: 0rem;
    margin: 0rem;
  }
  #sobreNuestrosProductos div {
    display: block;
  }
  h2 {
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .div__p {
    margin: 5rem;
    padding: 0rem;
    width: 400px, 500px;
    text-align: center;
  }
  section {
    background-color: #222222;
    margin: 0rem;
    padding: 0rem;
  }
  .tienda__productos {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .tienda__producto__imagen {
    width: 100%;
    height: auto;
  }
  .header__logo {
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .form__label__color {
    color: white;
  }
  .form__input__color {
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */